.modal-icon-content {
    padding: 16px;

    .modal-icon-box {
        width: 60px;
        height: 60px;
        margin: auto;
        text-align: center;

        i {
            font-size: 60px;
            color: #2da442;
        }
    }
}
