
<button (click)="onAddTeam()">Crear</button>
<button (click)="onEditTeam()">Editar</button>
<button (click)="onDeleteTeam()">Eliminar</button>

<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- Full Name Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
          <td mat-cell *matCellDef="let row"> {{row.full_name}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
    
        <!-- Abbreviation Column -->
        <ng-container matColumnDef="abbreviation">
          <th mat-header-cell *matHeaderCellDef> Abreviación </th>
          <td mat-cell *matCellDef="let row"> {{row.abbreviation}} </td>
        </ng-container>
    
        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> Ciudad </th>
            <td mat-cell *matCellDef="let row"> {{row.city}} </td>
          </ng-container>
    
          <!-- Conference Column -->
        <ng-container matColumnDef="conference">
            <th mat-header-cell *matHeaderCellDef> Conferencia </th>
            <td mat-cell *matCellDef="let row"> {{row.conference}} </td>
          </ng-container>
    
          <!-- Division Column -->
        <ng-container matColumnDef="division">
            <th mat-header-cell *matHeaderCellDef> Divisón </th>
            <td mat-cell *matCellDef="let row"> {{row.division}} </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    
    </table>
</div>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 30]" [length]="dataSource.data.length" aria-label="Select page of teams"></mat-paginator>